$myProfileForm-input-bg: #f4f4f4;

.myProfile {
    padding-bottom: 100px;

    .breadcrumbWrapper + & {
        padding-top: 0;

        .heading {
            margin-bottom: rem(40);
            h1 {
                margin: 0;
            }

            &--2 {
                .heading__content {
                    padding-bottom: em(22, 24);
                }

                ~ .heading--2 {
                    margin-top: 30px;
                }
            }
        }
    }
}

.myProfileForm {
    .form-group {
        > label {
            text-transform: uppercase;
            font-weight: 700;
            font-size: rem(11);
            letter-spacing: 0.1em;
        }

        &.language {
            padding: 20px 0 10px;
            font-size: rem(18); 

            label {
                text-transform: none;
                font-size: 1em;   
                
            }
            > label {
                margin-right: 35px;

                @include media-breakpoint-down(lg) {
                    margin-right: 20px;
                }
            }
        }
        .custom-control {
            padding-left: em(31, 18);
            margin-right: em(21, 18);
            &:last-child {
                margin-right: 0;
            }

            @include media-breakpoint-down(lg) {
                margin-right: em(11, 18);
            }
        }
        .custom-control-label{
            cursor: pointer;
            &:before,
            &:after {
                border-radius: 3px;
                width: em(20, 18);
                height: em(20, 18);
                outline: none !important;
                box-shadow: none;
            }
            &::before {
                border-color: #cccccc;
            }
        }
        .custom-control-input:active ~ .custom-control-label::before {
            background: transparent;
        }
        .custom-checkbox .custom-control-input:checked ~ .custom-control-label{
            &::before {
                background: transparent;
                border-color: $danger;
            }

            &:after {
                background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='" + $danger + "' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3E%3C/svg%3E")
            }
        }
    }

    .form-control {
        background: $myProfileForm-input-bg;
        border: none;
        padding: em(12) em(15);
        line-height: (21/16);

        &::placeholder {
            color: rgba(#666666, 0.5);
        }

        &.bootstrap-select {
            padding: 0;

            .btn {
                padding-top: em(12);
                padding-bottom: em(12);
                padding-left: em(15);
                outline: none !important;
                background: transparent !important;
                line-height: (21/16);
                border: none;

                &.bs-placeholder {
                    color: rgba(#666666, 0.5);
                }
            }
        }
    }

    .input-group-text {
        background-color: $myProfileForm-input-bg;
        border: none;
        padding-right: 15px;
        color: #999;
        cursor: pointer;
    }

    .form-btn {
        padding-top: 45px;
        .btn {
            text-transform: uppercase;
            font-weight: 700;
            min-width: 235px;
            padding: em(12) em(15);
            line-height: (21/16);
            border: none;
        }
    }
}