footer.bd-footer.text-muted(data-waypoint="70%")
    .container  
        .footer__wrapper
            .row.justify-content-center
                .col-lg-10
                    p   Copyright © 2018 House to Home
                    ul
                        li
                            a(href="#")
                                | news
                        li
                            a(href="/pages/about-us.html")
                                | about us
                        li
                            a(href="/pages/contact-us.html")
                                | contact us

// End Footer