.btnPrimary {
    color: $white;
    background-color: $color-hover;
    text-transform: uppercase;
    padding: rem(13) rem(22);
    border-radius: 4px;
    font-size: rem(14);
    letter-spacing: (100/1000)*1em;
    font-weight: 600;
    display: inline-block;
    margin-top: rem(28);
    &:hover {
        color: $white;
    }
    &.btnSearch {
        margin-top: rem(0);
        padding: rem(10) rem(22);
        z-index: 1;
        position: relative;
        color: $white !important;
        cursor: pointer;
    }
    &.btnNewsLaunch {
        margin: 0;
        position: relative;
        padding: rem(24) rem(22) rem(24) rem(45);
        z-index: 1;
        &::before {
            position: absolute;
            content: '';
            top: rem(20);
            left: rem(-20);
            height: rem(40);
            width: rem(40);
            background-image: url('/images/newslaunch.svg');
            background-repeat: no-repeat;
            z-index: 1;
        }
        &::after {
            position: absolute;
            content: '';
            top: rem(9);
            left: rem(-25);
            width: rem(51);
            height: rem(51);
            border-radius: 4px;
            transform: rotate(45deg);
            border: 1px solid $color-hover;
            background-color: $white;
            box-shadow: 0px 0px 20px 0px rgba(176, 205, 239, 0.2);
            z-index: 0;
        }
    }
    &.btnBackToList {
        background-color: $white;
        color: $color-body;
        font-weight: 700;
        text-transform: none;
        border: 1px solid $colour-gray-4;
        padding: rem(8) rem(22);
        margin-top: rem(0);
        &:hover {
            text-decoration: none;
            background-color: $color-hover;
            color: $white;
        }
        span {
            
            display: inline-block;
            vertical-align: middle;
            &:first-child {
                width: rem(32);
                height: rem(32);
                background-image: url('/images/right.png');
                background-position: center;
                background-repeat: no-repeat;
            }
        }
    }
    &.btnShare {
        background-color: $white;
        color: #ecb53f;
        text-transform: none;
        border: 1px solid #ecb53f;
        padding: rem(8) rem(22);
        float: right;
        margin-top: rem(0);
        
        &:hover {
            text-decoration: none;
            background-color: $color-hover;
            color: $white;
        }
        span {
            display: inline-block;
            vertical-align: middle;
            &:first-child {
                width: rem(32);
                height: rem(32);
                background-image: url('/images/share.svg');
                background-position: center;
                background-repeat: no-repeat;
            }
        }
    }
}

@media only screen and (max-width: 1199px) and (min-width: 992px) {
    .btnPrimary {
        &.btnNewsLaunch {
            padding: rem(27) rem(5) rem(27) rem(40);
            font-size: rem(10);
        }
    }
}

@media(max-width: 479px) {
    .btnPrimary {
        margin-top: rem(5);
        padding: rem(5) rem(15);
        &.btnBackToList {
            padding: rem(5);
        }
        &.btnShare {
            padding: rem(5);
        }
    }

}

@media(max-width: 375px) {
    .btnPrimary {
        &.btnBackToList {
            float: none;
            display: block;
            text-align: center;
            margin-bottom: rem(10);
        }
        &.btnShare {
            float: none;
            display: block;
            text-align: center;
            margin-bottom: rem(10);
        }
    }
}